@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    background-color:black;
}
li,ul,.navbar{
    font-family:'inter','Sans-serif';
    font-weight:bold;
    font-size:3vh;
    text-decoration: none;
    color:white;
}
ul{
    list-style-type:none;
    position:absolute;
    text-align:right;
    width:100%;
    top:20%;
    right:2%;
    vertical-align:middle;
}
.navbar:hover{
    transition: 0.3s ease;
    padding:2.4vh 15px;
    background-color:white;
    color:black;
}
li{
    margin: 0% 0%;
    display:inline;
}
.nav{
    position:absolute;
    top:0%;
    right:0%;
    width:70%;
    height:100%;
}
.navbar{
    padding: 2.4vh 15px;
    height:100%;
    width:auto;
    vertical-align:middle;
}
.header{   
    position:sticky;
    background-color:rgba(0,0,0,0.6);
    top:0%;
    width:auto;
    height:7.9vh;
    z-index:1;
}
.logo-container{
    position:relative;
    width:50%;
    height:100%;

}
.logo{
    position:absolute;
    width:auto;
    height:50%;
    left:5%;
    top:25%;
    vertical-align: middle;
}