@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    margin:0%;
    padding:0%;
}
body{
    background-color:#121212;
}
.container{
    position: relative;
    width:auto;
    height:100vh;
}
.logo{
    position:absolute;
    width:auto;
    height:100%;
    left:32.7%;
}
.sub-title{
    text-align:center;
    font-family:'Inter','Sans-serif';
    color:white;
    font-size:210%;
    position:absolute;
    width:100%;
    top:120%;
}
.header{
    position:absolute;
    width:100%;
    height:9vh;
    top:5%;
}

.content{
    top:25%;
    position:absolute;
    height:75%;
    width:100%;
}

.aboutus{
    position:absolute;
    top:10%;
    height:70%;
    width:20%;
    left:4%;
    border-radius:50px;
}

.foto{
    object-fit:cover;
    top:0%;
    left:0%;
    height:100%;
    width:100%;
    border-radius:50px;
    filter:brightness(50%);
}
.image{
    position:absolute;
    height:100%;
    width:100%;
    z-index:1;
}
.events{
    position:absolute;
    top:10%;
    height:70%;
    width:20%;
    left:28%;
    border-radius:50px;
}

.contactus{
    position:absolute;
    top:10%;
    left:52%;
    height:70%;
    width:20%;
    border-radius:50px;
}

.register{
    position:absolute;
    top:10%;
    left:76%;
    height:70%;
    width:20%;
    border-radius:50px;
}

.Title{
    position:absolute;
    width:100%;
    top:40%;
    font-family:'Inter','Sans-serif';
    font-weight:bold;
    font-size:3vw;
    text-align:center;
    z-index:99;
    color:white;
}
.desc{
    position:absolute;
}

.foto:hover{
    cursor:pointer;
    filter:brightness(30%);
    transition: 0.3s ease;
}